.sideNav {
    background-color: #E0EBFE;
    border-radius: 30px;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 60px;
    min-width: 500px;
    min-height: 500px;
}

.sideNav h1 {
    color: darkblue;
    font-size: 25px;
}

.sideNav button {
    width: 80%;
    font-size: 20px;
    margin-top: 10px;
    background-color: #BED3F6;
    
}
.sideNav .subButtons button {
    font-size: 15px;
    width:65%;
    margin-left: 10%;
    margin-right: 5%;
    text-align: left;
    background-color: #C5D8F8;
}

.info {
    background-color: #F6F6FA;
    border-radius: 30px;
    width: 100%;
    margin-left: 10px;
}

.info h1{
    font-size: 25px;
}

.info h2{
    font-size: 20px;
}